{% include 'lrc/main.html' %}
{% load crispy_forms_tags %}
{% block register %}

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Register</h3>
              <form method="POST" action="">
                  {% csrf_token %}

                  {{form.username | as_crispy_field }}



                  {{form.email | as_crispy_field }}


                  {{form.password1 | as_crispy_field }}


                  {{form.password2 | as_crispy_field }}

                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Register</button>
              </form>

              <div class="mt-4">
                            <div class="d-flex justify-content-center links">
                                Already have an account? <a href="{% url 'login' %}" class="ml-2">Login</a>
                            </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}